---
import { MainPanel } from "~/components/UI";
import BaseLayout from "~/layouts/BaseLayout.astro";

const titlePage = "Détails pour le composant formulaire";
---

<BaseLayout title={titlePage}>
  <MainPanel>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam et illo
      voluptatem aspernatur ipsam nemo, adipisci itaque quae amet iure repellat
      aut dolor libero exercitationem perspiciatis rem optio dicta minus!
    </p>
  </MainPanel>
</BaseLayout>
