---
import BaseLayout from "../layouts/BaseLayout.astro";

import { HeaderRoot } from "../components/pages/root/HeaderRoot";
import { IntroSection } from "../components/pages/root/IntroSection";
import { ObjectiveSection } from "../components/pages/root/ObjectiveSection";
import { PersonaSection } from "../components/pages/root/PersonaSection";
import { Main } from "../components/UI/main/Main";
---

<BaseLayout title="InoTest - Découvrez l’inclusion en ligne">
  <HeaderRoot />
  <Main>
    <IntroSection />

    <PersonaSection />

    <ObjectiveSection />
  </Main>
</BaseLayout>
