---
import BaseLayout from "../../../../layouts/BaseLayout.astro";

import { BadForm } from "../../../../components/pages/persona1/persona1form1/BadForm";
import { BadFormCode } from "../../../../components/pages/persona1/persona1form1/BadFormCode";
import { BadFormConclusion } from "../../../../components/pages/persona1/persona1form1/BadFormConclusion";
import { BadFormExp } from "../../../../components/pages/persona1/persona1form1/BadFormExp";
import { BadFormIntro } from "../../../../components/pages/persona1/persona1form1/BadFormIntro";
import { DivLink } from "../../../../components/pages/personaHome/DivLink";
import { Header } from "../../../../components/UI/headers/Header";
import { Main } from "../../../../components/UI/main/Main";
import { SkipLinks } from "../../../../components/UI/skip-links/SkipLinks";

import { personas } from "../../../../data/personas";

const { name, personaHomeUrl, steps } = personas.djebrine;
---

<BaseLayout title="">
  <SkipLinks />

  <Header heading={name} textContent={steps[0]?.name ?? ""} />

  <Main>
    <BadFormIntro />
    <BadForm />
    <BadFormCode />
    <BadFormExp />
    <BadFormConclusion />
  </Main>

  <DivLink
    labelLink1={`Accueil ${name}`}
    labelLink2="Continuer"
    srLabelLink1={`Revenir à la page d'accueil de ${name}`}
    srLabelLink2="Continuer ce parcours"
    urlLink1={personaHomeUrl}
    urlLink2={steps[0]?.pages[1]?.url ?? ""}
  />
</BaseLayout>
