---
import BaseLayout from "../../../layouts/BaseLayout.astro";

import { Main } from "../../../components/UI/main/Main";
import { AAForm } from "../../../components/Form/AAForm";
---

<BaseLayout title="">
  <Main>
    <AAForm />
  </Main>
</BaseLayout>
