---
import BaseLayout from "../../../layouts/BaseLayout.astro";

import { Main } from "../../../components/UI/main/Main";
---

<BaseLayout title="">
  <Main>
    <h1>Level AA</h1>
  </Main>
</BaseLayout>
